@font-face {
    font-family:'Alata';
    src: url(assets/fonts/alata-regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family:'LaneNormal';
    src: url(assets/fonts/LANENAR_.ttf);
    font-weight: normal;
}

@font-face {
    font-family:'LaneRelief';
    src: url(assets/fonts/LANEPOSH.ttf);
    font-weight: normal;
}

:root {
    --pale: #d3d0ef;
    --white: #FFFFFF;
    --black: #000000;
  }

.light-theme {
    --bg: var(--pale); 
    --fontColor: var(--black);
    --btnbg: var(--black);
    --btnfontColor: var(--pale);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--pale);
    --btnbg: var(--pale);
    --btnfontColor: var(--black);
}

.btn {
    color: var(--btnfontColor);
    background-color: var(--btnbg);
    position:absolute;
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    top: 20px;
    right: 250px;
}

body {
    font-family: 'LaneNormal';
    background: var(--bg);
    color: var(--fontColor);
}

h1, #msg {
    font-family: 'Alata';
}

h1 {
    text-align: center;
    font-size: 2em;
}

#msg {
    font-size: 1.5em;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}


@media screen and (min-width: 300px) and  (max-width: 600px) {

    .btn {
        height: 50px;
        width: 50px;
        top: 20px;
        left: 100px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1250px) {
    
    .btn {
        height: 50px;
        width: 50px;
        top: 20px;
        right: 150px;
    }
} 